* {
  box-sizing: border-box;
}

img, div {
  display: block;
}

img {
  width: 250px;
}

html {
  height: 100%;
}

body {
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('image/night-sky.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blur {
  -webkit-filter: blur(5px) grayscale(90%);
  pointer-events: none;
}

.prof-container {
  width: 850px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.prof-container div {
  width: 100%;
  border: 1px solid #ccc;
}

.information {
  grid-column: 1/2;
  padding: 1em;
}

.information button {
  width: 100%;
}

.information p {
  display: grid;
  grid-template-columns: 1fr 8fr;
  border: 1px solid #ccc;
  margin: 0;
  font-size: 80%;
  color: white;
}

.information * {
  padding: 5px;
}

.information div {
  background-color: rgba(0, 255, 0, 0.4);
  text-align: center;
  color: white;
  cursor: pointer;
}

.information div:hover {
  opacity: 0.6;
}

.information button {
  background-color: rgba(255, 0, 0, 0.4);
  color: white;
  font-size: 15px;
}

.information button:hover {
  opacity: 0.6;
}


.information p .att {
  color: lightgray;
  width: 70px;
}

.todo-app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;
  grid-column: 2/4;
  padding: 1em;
  grid-gap: 10px;
  border-radius: 15px;

}

.todo-app form {
  display: grid;
  grid-gap: 17px;
  grid-template-columns: 9fr 1fr;
  height: 32px;
}

.todo-app form input {
  border: none;
  border-bottom: 2px solid white;
  height: 30px;
  background-color: rgba(0,0,0,0);
  color: white;
  opacity: 0.6;
}

.todo-app form input:focus {
  outline: none;
}

.todo-app form input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
  font-style: italic;
}

.todo-app form input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.todo-app #clock {
  font-family: 'Amiri', serif;
  font-size: 250%;
  text-align: center;
  color: white;
}

#clock {
  display: grid;
  grid-template-columns: 1fr;
  line-height: 25px;
  margin-top: 1em;
}

#clock span {
  width: 100%;
}

#clock .time{
  font-size: 25px;
}

#clock .date{
  font-size: 15px;
}

#list {
  width: 100%;
  min-height: 30px;
  grid-row: 2/3;
  margin-top: 0;
  height: 400px;
  overflow-y: scroll;
  color: white;
}

::-webkit-scrollbar {
      width: 10px;
}

::-webkit-scrollbar-track {
      opacity: none;
}

::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.5);
}

#list p {
  display: grid;
  border: 1px solid #ccc;
  margin-bottom: 0;
  padding: 5px;
  padding-left: 1em;
  grid-template-columns: 1fr 7fr;
}

#list p .time {
  font-size: 60%;
  color: #ccc;
  font-style: italic;
}

#list p .task-name {
  margin-left: 20px;
  color: white;
  font-family: 'Amiri', serif;
}

#task-container{
  cursor: pointer;
}

#edit-info {
  display: none;
  position: absolute;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  height: 250px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.3);
}

#edit-form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

#edit-info #edit-form label {
  display: block;
  color: gray;
}

#edit-form .full {
  grid-column: 1/3;
}

form button {
  border: none;
  color: white;
  border-radius: 15px;
}

form #button-edit {
  background-color: rgba(0,255,0,0.4);
}

form #button-discard {
  background-color: rgba(0,0,0,0.4);
}

form button:hover {
  opacity: 0.6;
}


#edit-form input{
  width: 100%;
}

#edit-info i {
  color: red;
  left: 90%;
  margin-bottom: 0;
  font-size: 200%;
}

.glyphicon-pencil {
  font-size: 25px;
  color: gray;
}

.recolor-pen {
  color: white;
}

.recolor-task {
  background-color: rgba(0, 0, 0, 0.5);
}
